name: Automatic push of file
on:
  schedule:
    - cron:  '30 09 * * 1,2,4,5'

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node Modules
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: node-modules

      - name: Install Node Modules
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm i

      - name: Scrape and update
        run: npm run scrape

      - name: Commit files
        id: commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          if ! git diff --exit-code; then
             git add --all
             git commit -am "GH Action Files added $(date)"
             git push -f origin main
          fi
        shell: bash
